.app {
    font-family: 'Montserrat', sans-serif;
}

.title {
    background-color: white;
    border-radius: 12px;
    font-size: 1.85rem;
    margin: 20px auto;
    padding: .5rem;
    text-align: center;
}

.container {
    background-color: #39393A;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 95%;
}

.btn-container {
    align-content: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.btn {
    border: 0;
    height: 7rem;
    margin: 2px;
    width: 7rem;
}

.yellow {
    background-color: yellow;
    border-radius: 5px;
}

.red {
    background-color: red;
    border-radius: 5px;
}

.blue {
    background-color: blue;
    border-radius: 5px;
}

.green {
    background-color: green;
    border-radius: 5px;
}