.app {
    background-color: #1E1D1E;
    font-family: 'Montserrat', sans-serif;
}

.container {
    align-items: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
}

.title {
    background-color: white;
    border-radius: 12px;
    color: #1E1D1E;
    font-size: 1.85rem;
    margin: 20px 0;
    padding: .5rem .75rem;
    text-align: center;
}

.btn-container {
    align-content: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 30px;
    width: 280px;
}

.display {
    background-color: white;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: .5rem;
    margin: 10px ;
    width: 2rem;
    text-align: center;
}

.btn {
    border: 0;
    height: 8rem;
    margin: 2px;
    width: 8rem;
}

.btn:focus {
    outline: 0;
}

.yellow {
    background-color: #FFFF45;
    border-radius: 5px;
    border-top-left-radius: 100%;
}

.yellow:hover {
    background-color: #FFFFBF;
}

.yellow-active {
    background-color: #FFFFBF;
    border-radius: 5px;
    border-top-left-radius: 100%;
}

.red {
    background-color: red;
    border-radius: 5px;
    border-top-right-radius: 100%;
}

.red:hover {
    background-color: #F47378;
}

.red-active {
    background-color: #F47378;
    border-radius: 5px;
    border-top-right-radius: 100%;
}

.blue {
    background-color: blue;
    border-radius: 5px;
    border-bottom-left-radius: 100%;
}

.blue:hover {
    background-color: #00CCFF;
}

.blue-active {
    background-color: #00CCFF;
    border-radius: 5px;
    border-bottom-left-radius: 100%;
}

.green {
    background-color: green;
    border-radius: 5px;
    border-bottom-right-radius: 100%;
}

.green:hover {
    background-color: #4CBA44;
}

.green-active {
    background-color: #4CBA44;
    border-radius: 5px;
    border-bottom-right-radius: 100%;
}

.button-container {
    display: flex;
    margin-top: 10px;
}

.button {
    background-color: #EEE5E9;
    border-radius: 5px;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    padding: .75rem;
    margin: .5rem;
}

.strict {
    background-color: yellow;
}