.footer {
    bottom: 0;
    color: white;
    height: 40px;
    left: 0;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
  }
  
  .freecodecamp {
    color: #007bff;
    text-decoration: none;
  }